<h1>Basketball Game System</h1>
<div>
  <button *ngIf="!this.loggedIn" routerLink="login">Login</button>
  <button *ngIf="!this.loggedIn" routerLink="register">Register</button>
  <button *ngIf="this.isAdmin && this.loggedIn" routerLink="create-game">Create Game</button>
  <button *ngIf="this.loggedIn" routerLink="future-games">Future Games</button>
  <button *ngIf="this.loggedIn" routerLink="past-games">Past games</button>
  <button *ngIf="this.loggedIn" routerLink="memberlist">Memberlist</button>
  <button *ngIf="this.loggedIn" routerLink="pendingList">Pending Members</button>

  <button *ngIf="this.loggedIn" (click)="logout();" routerLink="">Logout</button>
</div>

<div>
  <router-outlet></router-outlet>
</div>